.horizontal ul {
    border: 2px solid red;
}

.ptext {
    width: 366px;
    text-align: justify;
}

.btnDark {
    background-color: #151e67;
}

.otp-countdown {
    display: inline-block;
    margin: 0 auto;
    padding: 8px 30px;
    background-color: #333;
    border-radius: 50px;
    color: #fff;
    width: auto;
}

.form-control[readonly] {
    background-color: transparent;
}

.Questionnaire_form {
    &::placeholder {
        color: #275c9a;
        height: 50px;
        line-height: 50px;
    }
}